h1{
  color: #95BDFF;
  padding-left: 330px;
  padding-top: 50px;
}

h3{
  color:#F16767;
  padding-left: 230px;
}

p{
  padding-left: 230px;
  padding-right: 200px;
}

.do{
  background-color: #E8D5C4;
}

.num{
  padding-left: 500px;
}
