.body{
  background-color: #E8D5C4;
  margin: 50px 100px;
  border-radius: 30px;
}

h2{
  color:#F16767;
  padding:100px 50px;
}

h3{
  color: #95BDFF;
  padding-left: 50px;
  font-size: 30px;
}

.a{
  padding-top: 50px;
}
