.law1{
  color: red;
}
a{
  text-transform: capitalize;
  text-decoration: none;
  text-indent: 15px;
  letter-spacing: 15px;
}
.table-laws{
  border: solid;
  border-radius: 15px;
  background-color: #E8D5C4;
}
